.section-create {
    width: 100vw;
    margin-top: 100px;
}

.lista-dicas {
    list-style: circle;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    font-size: 1.4rem;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 20px;
}

.lista-dicas li {
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .lista-dicas {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .lista-dicas li {
        width: 90%;
    }

    .section-create h3 {
        font-size: 30px;
    }
}