.recruiter-area {
    width: 100vw;
    height: 100%;
    margin-top: 100px;
}

.info-recruiter {
    width: 100vw;
    

}

.button-recuiter-area {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button-action-recruiter {
    width: 20%;
    margin-top: 20px;
    height: 40px;
    cursor: pointer;
    background-color: #00AFF9;
    border:  none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;

}
.card-recruiter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.button-action-recruiter:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.button-new-vaga {
    font-size: 2.3rem;
    color: #00AFF9;
    margin-left: 40px;
    position: fixed;
}

@media only screen and (max-width: 1000px) {
    .card-recruiter {
        width: 100%;
    }

    .button-action-recruiter {
        width: 130px;
        font-size: 12px;
    }

}

@media only screen and (max-width: 668px) {
    .button-recuiter-area {
        margin-top: 10px;
    }

   .card-recruiter {
    margin-bottom: 30px;
   }
}

@media only screen and (max-width: 508px) {
    .button-recuiter-area {
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: center;
        width: 95%;
        gap: 0;
    }
    
 }


