.form-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #00AFF9;
    width: 40%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

input {
    width: 70%;
    height: 30px;
    padding: 20px;
    border-radius: 20px;
}

.form-container button {
    width: 70%;
    height: 30px;
    cursor: pointer;
    background-color: #00AFF9;
    border:  none;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.5s;
}

.form-container button {
    transform: scale(1.1);
    transition: 0.5s;
}