.sidebar{
    color: #ffffff;
    background-color: #343d41;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    z-index: 1;
}
.sidebar-title{
    font-size: 1.2rem;
}
.sidebar-options{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
.sidebar-options ul {
    margin-bottom: 4rem;
}
.sidebar-options li {
    padding: 0.5rem 0;
    border-bottom: 2px solid #00AFF9;
}
.sidebar-options li:hover{
    cursor: pointer;
    color: #00AFF9;
    transition: 0.3s;
}
.sidebar .sidebar-btn {
    color: #000000;
    text-align: center;
    background-color: #00AFF9;
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    width: 40%;
    cursor: pointer;
    font-size: 1rem;
    transition:  0.3s ease;
}

.sidebar-btn:hover {
    scale: 1.1;
}